'exception-reporting':
  'userId': '2f54c8ac-8d76-475e-0410-a2e4ab104de2'
'release-notes':
  'viewedVersion': '0.69.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'b7334f48c830f1c439fe3049b1083fd1de1a798d'
'editor':
  'showIndentGuide': true
  'showInvisibles': true
  'fontSize': 22
'core':
  'themes': [
    'unity-ui'
    'twilight-syntax-spacegray-ui'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
  'disabledPackages': [
    'Zen'
    'minitest-snippets'
    'autocomplete-plus'
    'vim-mode'
    'test-status'
  ]
  'projectHome': '/Users/mattgarrison/Projects'
'autosave':
  'enabled': true
'autocomplete':
  'includeCompletionsFromAllBuffers': true
'find-and-replace':
  'openProjectFindResultsInRightPane': true
'autocomplete-plus':
  'includeCompletionsFromAllBuffers': true
  'liveCompletion': true
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
    'text.plain.null-grammar'
  ]
'test-status':
  'Rakefile': 'bundle exec rake test:all'
